*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fbefd0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1200px !important;
    margin: 0 auto !important;
    box-shadow: 0 1rem 1rem black !important;
}


/* Header and navigation */
#main-header{
    background-color: #1c4555;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    padding: 1.5rem 0.7rem;
}

.heading{
    text-transform: uppercase;
}

#head{
    display: block;
    overflow: hidden;
    padding: 0.8rem 1rem ;
    border-radius: 0.8rem;
    color: #ffffff;
    letter-spacing: 0.5rem;
    transition: all 0.1s ease-in;
}

#head:hover{
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(180deg);
    }

    100%{
        transform: rotateY(0deg);
        color: #4974a5;
    }
}

.nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bar{
    height: 0.2rem;
    width: 2rem;
    background-color: #4974a5;
    margin: 0.3rem 0;
}

.nav-items{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.nav-items:hover{
    flex-direction: row;
}

.nav-item, .nav-item-1{
    margin: 0.7rem;
    list-style: none;
}

.nav-item::before{
    content: '';
    display: block;
    height: 0.2rem;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0.2rem;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s linear;
}

.nav-item::after{
    content: '';
    display: block;
    height: 0.2rem;
    width: 100%;
    position: relative;
    top: 0.2rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s linear;
}

.nav-item:hover::before, .nav-item:hover::after{
    transform: scaleX(1);
}

.nav-item > a, .nav-item-1 > a{
    color: #ffffff;
}

.btn{
    text-align: center;
    padding: 0.8rem 1rem; 
    height: min-content;
    width: fit-content;
    display: block;
    border-radius: 0.6rem;
    background: linear-gradient(45deg, #c62c05,#05C62C,#2C05C6);
    transition: all 0.5s;
    outline: none;
}

.btn:hover{
    background:	#c62c05;
    /* transform: scale(1.1); */
    border: solid 1px #fff;
    transition: all 0.5s linear;
}

.close-menu, .bars{
    display: none;
}

/* mobile view */
/* for the opening and closing thingy */
@media screen and (max-width: 1000px) {
    .mobile-item > a, .mobile-item-1 > a{
        color: #ffffff;
    }

    .mobile-item, .mobile-item-1{
        margin: 0.7rem;
        list-style: none;
    }

    .mobile-items{
        position: relative;
        flex-direction: column;
        align-self: flex-end;
        right: 40%;
    }

    .mobile-item{
        padding: 2rem 0;
    }

    .mobile-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 80vh;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 0 0 0 2rem;
        box-shadow: 0 0.5rem 3rem rgb(0, 0, 0);
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }

    .bars{
        display: none;
    }
    
    .close-menu{
        position: relative;
        display: none;
        color: #4974a5;
        font-size: 2rem;
        margin: 0 0 0 90%;
    }
}

@media screen and (max-width: 1000px){
    .nav-items{
        display: none;
    }

    .bars{
        display: block;
    }

    .bars:hover{
        filter: brightness(2);
    }
}

/* Introuction to test section */
.intro-wrap{
    height: 90vh;
    background: url("../images/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-head, .sub-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #fbefd0;
    line-height: 6rem;
    text-shadow: 1rem 1rem 0.6rem #130400;
}

@media screen and (max-width: 1000px) {
    .intro-head, .sub-head{
        font-size: 1em;
        text-align: center;
    }
}


/* Test section */

#type-section > div{
    background-color: #1c4555;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: max-content; */
    margin-bottom: 3rem;
}

.instructions{
    margin: 3rem 0;
    top: 40%;
}

.instructions > p{
    text-align: justify;
}

.head-text-to-type{
    padding: 0.8rem;
    border-bottom: double 4px #c62c05;
    text-transform: capitalize;
    margin-bottom: 4rem;
    text-align: center;
}

#actual_text{
    margin: 0 auto;
    border: solid 3px #000000;
    width: 80%;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    background-color: #b6d1b4;
}

.moral{
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.text-box{
    margin-bottom: 1rem;
}

#typing-box{
    line-height: 2rem;
    overflow: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 5px solid #fcb045;
    outline: none;
    width: 70vw;
}

.buttons{
    margin-bottom: 2rem;
}

.reset, .next{
    display: inline-block;
    margin: 2rem;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* About section */

#about_section > div{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.about-header{
    margin: 0 auto;
    background: url("../images/banner-image.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2rem;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 2rem;
}

@media screen and (max-width: 1100px) and (min-width: 700px){
    .clients{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
        align-self: center;
    }
}

@media screen and (max-width: 699px) and (min-width: 400px){
    .clients{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        align-self: center;
    }
}

.client_brands{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    padding: 3rem;
    justify-self: stretch;
    align-self: center;
}

.client_brands:hover{
    transform: scale(1.1);
    filter: brightness(0);
    box-shadow: 0 0 0.5rem lightgray;
}

.service_section{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serv_head{
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: double 4px#c62c05;
}

.services{
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.5em;
}

@media screen and (max-width: 1000px){
    .services{
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
    }
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.service:hover{
    transform: scale(1.1);
    box-shadow: 1em 1em 1em 0.5em lightgray;
}

.service > img{
    margin-bottom: 4rem;
    filter: brightness(0);
}

.service > img:hover{
    filter: brightness(1);
    transition: filter 0.5s ease-out;
}

@media all and (max-width: 1000px){
    .service > img{
        filter: brightness(1);
    }
}

.service > h1{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 4rem;
    text-shadow: 0.2rem 0.2rem 0.5rem #000;
}

.service > h1:hover{
    text-shadow: 1rem 1rem 0.5rem #000;
    transition: text-shadow 0.5s ease-out;
}

.service > p{
    text-align: justify;
}

#contact_us > div{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #1c1635;
    padding: 5rem 2rem;
    color: #fff;
    box-sizing: border-box;
}

.follow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.follow > h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #dcd4ed ,#551065);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.handles{
    display: flex;
    flex-direction: column;
}

.handle{
    list-style: none;
    margin: 1.5rem;
}

.fab, .fas{
    font-size: 2rem;
    color: #fff;
    transition: all 0.5s ease;
}

.fab:hover, .fas:hover{
    transform: scale(2) rotate(-45deg);
}

.fa-facebook:hover{
    color: #1d1e70;
}

.fa-twitter:hover{
    color: #2e5992;
}

.fa-instagram:hover{
    background-image: linear-gradient(45deg, yellow ,red, pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin-in:hover{
    color: lightblue;
}

.fas:hover{
    background-image: linear-gradient(90deg, white ,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    width: 3em;
    height: 3em;
}

.main_footer{
    background-color: #1c4555;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

@media screen and (max-width: 850px) {
    .main_footer>p, .main_footer>h1 {
        font-size: 0.8rem;
    }

    .service > p{
        font-size: 0.8rem;
        text-align: left;
    }

    #actual_text, .moral, #typing-box, #reset, #next, #timer{
        font-size: 1rem;
    }

    .fa-facebook{
        color: #1d1e70;
    }

    .fa-twitter{
        color: #2e5992;
    }

    .fa-instagram{
    background-image: linear-gradient(45deg, yellow ,red, pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .fa-linkedin-in{
        color: lightblue;
    }

    .fas{
    background-image: linear-gradient(90deg, white ,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
